@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;1,700&display=swap');

html{
    background-color: #ffda89;
    color: #020F14;
    font-family: merriweather;
    font-size: 62.5%;
    
}
main{
    font-size: 1.5em;
}
body{
    margin:0em;
    padding-bottom: 0em;
}
p{
    text-align: center;
    font-size: 1.4em;
    padding-left: 1em;
    padding-right: 1em;
}
button{
    background-color:#433A44;
    color: white;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.4em;
    font-size: 0.75em;
    border-style: none;
    
}
nav ul{
    padding-left: 0em;
    padding-bottom: 4em;
    font-weight: bold;
    font-size: 1.3em;
}
nav li{
    padding:0.3em;
    font-family: montserrat;
    list-style: none;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #020F14;
}
nav a:hover{
    opacity: 0.5;
}
q{
    quotes: "«" "»";
}
section{
    padding-bottom: 5em;
}
dl{
    padding-left:0.7em;
    padding-right: 0.7em;
}
dt{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    font-weight: bold;
    text-align: left;
    margin:0.2em;
}
dd{
    text-align: left; 
    margin-left: 1em;
    padding: 0.2em;
}
img{
    max-width: 50%;    
}
h1{
    text-align: center;
    font-size: 1.8em;
}
h2{
    text-align: center;
    font-size: 1.8em;
}
h3{
    text-align: center;
    font-size: 1.8em;
}
div{
    text-align: center;
}
.sp_bold{
    font-weight: bold;
    color:black;
}
.sp_bold_footer{
    font-weight: bold;
    color:white;
}
header{
    text-align: center;
    font-size: 1.5em ;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
header a{
    text-decoration: none;
    color: #020F14;
}
.a_header{
    
    font-weight: bold;
    padding-top: 0.45em;
    padding-bottom:0.10em;
    font-size:2em;
}

.selected{
    font-style: italic;
    font-weight: bold;
}
footer{
    position: relative;
    bottom:-5em;
    background: #413022;
    color:#FFFFFF;
    text-align: center;
    font-family: montserrat;
}
footer a{
    text-decoration: none;
    color:#FFFFFF;
}
footer a:hover{
    text-decoration: none;
    color:#a80a0a;;
}
.ul_footer_l{
    display:grid;
    grid-template-columns: 100%;
    font-size: 0.9em;
    padding-left: 1em;;
    line-height: 0em;
}
.ul_footer_l li{
    list-style:none;
    margin:0em;;
    padding-left: 0em;;
    line-height: 1.5em;
}
.ul_footer_i{
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left:0em;
    font-size: 1.3em;
}
.p_footer{
    padding-top: 1em;
    font-size: 1.5em;
}
.li_footer{
    list-style: none;
    margin: 0.2em;
    padding:0em;
}
.img_footer{
    width: 5em;
    height: 5em;
    clip-path: polygon(0% 5%,100% 5%,100% 25%,0% 25%,0% 40%,100% 40%,100% 60%,0% 60%,0% 75%,100% 75%,100% 95%,0% 95%);
}
.sp_color_1{
    color: #413022;
}
.sp_color_2{
    color: #413022;
}
.a_texto{
    color:transparent;
    background-image: linear-gradient(to right, #800, #880, #088, #080, #008);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: change 20s linear infinite;
    background-size: 1000%;
    font-weight: bold;
}
.a_texto:hover{
    opacity: 0.75;
}
@keyframes change
{
    0%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 100%;
    }

}

.p_libros{
    padding-left:1em;
    padding-right:1em;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.5em;
}
.img_lib{
    max-width: 100%;    
}

.img_detalle1{
    width: 30%;
    height: 30%;   
}
.img_detalle2{
    width: 60%;
    height: 60%;   
}
.img_header{
    width: 1.3em;
    height: 0.9em;
    padding-right:0.2em;    
}
.p_titulo{
    padding-left:1em;
    padding-right:1em;
    text-align: left;
    font-size: 1.7em;
    font-weight: bold;
}
.h_detalles{
    text-align: left;
    font-size: 1.5em;
    padding-left:0.7em;
    padding-right: 0.7em;
}
.p_detalles_libro{
    padding-left:1em;
    padding-right:1em;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.9em;
}
.p_dd{
    text-align: left;
    font-size: 1em;
    margin:0.2em;
    padding-left: 0em;
    padding-right: 0em;
}

@media(min-width: 720px){
    html{
        font-size: 65%;
    }
    img{
        max-width: 90%;    
    }
    header nav{
        position: relative;
        bottom: -1em;
    }
    .a_header{
        padding-left: 2.15em;
        font-weight: bold;
        padding-bottom:0.10em;
        font-size:1.6em;
    }
    .header_gr{
        display:grid;
        grid-template-columns: 33% 33% 33%;       
    }
    .header_gr p:nth-of-type(1){
        order:3;
    }
    .header_gr p:nth-of-type(2){
        order:1;
    }
    .header_gr nav:nth-of-type(1){
        order:2;
    }
    .p_header{
        text-align:right;
    }
    .p_header_lit{
        text-align:left;        
    }
    .li_footer{
        display:inline;
        margin:0em;
        font-size:1.2em;
        padding:0em;
        list-style: disc;
    }
    .div_footer{
        text-align:center;
    }
    .ul_footer_i{

        padding-bottom: 4em;
        text-align:center;
        font-size: 1.1em;
        padding-left:0.5em;
    }
    .ul_footer_l{

        padding-left:1.3em;
    }
    .img_index{
    width: 55%;
    height: 55%;   
    }
    .li_footer_l{
        text-align:left;
        padding-left: 1em;
    }
    .sp_color_2{
        color:#FFFFFF;
        margin:0.1em;
    }
    nav li{  
        padding:0.3em;
        font-family: montserrat;
        list-style: none;
        text-align: center;
        display: inline;
    }
    .p_libros{
        padding-left:5%;
        padding-right:5%;
    }
    .libros{
        display:grid;
        grid-template-columns: 33% 33% 33%;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 3em;
    }
    .detalle_libro{
        display:grid;
        grid-template-columns: 40% 60%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .h_detalles{
        font-size: 1.6em
    }
    dt{
        font-size: 1.2em
    }
    dd{
        font-size: 1.2em
    }

}
